<template name="error">
  {{#each errorStatement}}
    <div class="alert alert-error alert-message fade in">
      <button type="button" class="close">&times;</button>
      <h4 class="alert-heading">{{string "errors.title"}}</h4>
      <div class="message">{{this}}</div>
    </div>
 {{/each}}
</template>

<template name="success">
  {{#each successStatement}}
    <div class="alert alert-success alert-message fade in">
      <button type="button" class="close">&times;</button>
      <h4 class="alert-heading">Success</h4>
      <div class="message">{{this}}</div>
    </div>
 {{/each}}
</template>
