<template name ="audiogrid">
  <div>
    <button id="audioButton" style="display:none;"  class="btn btn-primary left-btn" type="button">{{inline.type}}</button>  
  </div>
  <div id="grid">
   {{#if inline.result}}
    <ul class="graphic">
      {{#each contents}}
       <li><a href="{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
   {{else}}
	 <ul class="thumbnails">
    <div class="sm2-inline-list">
      {{#each contents}}
				<li class="span4">
					<div class="thumbnail">
						<div class="ui360 ui360-vis"><div class="imgContainer"><a href="{{this}}">{{this}}</a></div></div>
						{{>audiogridOptions}}
					</div>
				</li>
      {{/each}}
    </div>
		</ul>
  {{/if}}
  </div>
</template>

<template name="audiogridOptions">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Options</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="#"><i class="icon-download-alt"></i></a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">	<i class="icon-plus-sign"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{#each contents}}
                                    <li>
                                        <a href="#" class="addToPlaylist">Add to {{this}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
			{{#if superUser}}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">	<i class="icon-user"></i>+ <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{#each userlist}}
                                    <li>
                                        <a href="#" class="allowUser">Allow {{this}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">	<i class="icon-user"></i>- <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{#each alloweduser}}
                                    <li>
                                        <a href="#" class="disallowUser">Disallow {{this}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
			{{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
