<template name="audiopage">
    <div id="player-content" class="hero-unit">
        <center>
            <div id="audio-player">
                <h1 class="center">{{string "headings.audio"}}</h1>
            </div>
        </center>
    </div>
	<div id="buttonMenuAudio">
		{{>audioMenu}}
	</div>
    <div id="audiogrid">
        {{> audiogrid}}
    </div>
</template>

<template name="audioMenu">
 <div class="main navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Media Menu</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <input type="file" id="upload" style="visibility:hidden;position:absolute;top:-50;left:-50"/>
                        <a href="javascript:onLoad();">Upload</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Playlists<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {{#each contents}}
                                    <li>
                                        <a href="#" class="viewPlaylist">{{this}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        <li>
                            <a href="#">Share</a>
                        </li>
                    </ul>
                    <div class="navbar-form pull-right">
                      <input type="text" class="span3" placeholder="Type playlist name...">
                      <button type="button" class="createPlaylistButton btn">Create</button>
                      <input type="text" class="span3" placeholder="Type search keyword...">
                      <button type="button" class="search btn">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>