<template name="documentpage">
    <div class="hero-unit">
        <center>
           <h1 class="center">My Documents</h1>
        </center>
    </div>
    <div id="documentgrid">
      {{>documentgrid}}
    </div>
 
<!-- Modal -->
<div id="docuModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="docuModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <input id="docuModalBody" type="textarea" name="filecontents" readonly>
  </div>
  <div class="modal-footer">
    <button id="closeModal" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="Edit-Save" class="btn btn-primary">Edit</button>
  </div>
</div>
</template>
