<template name="loginpage">
  <h1 class="center">Login</h1>
  <div>
   
   <h2 class="center">Login Page Content</h2>
	<form class="form-inline">
		<input id="login-user" type="text" class="input-small" placeholder="username">
		<input id="login-pass" type="password" class="input-small" placeholder="password">
		<button id="login-submit" type="button" class="btn">Sign In</button>
		</form>
	<form class="form-inline">
		<input id="reg-user" type="text" class="input-small" placeholder="username">
		<input id="reg-pass" type="password" class="input-small" placeholder="password">
		<input id="reg-confirm" type="password" class="input-small" placeholder="confirm password">
		<button id="reg-submit" type="button" class="btn">Sign Up</button>
		</form>
</div>
</template>
