<template name="loginpage">

<div align="center" style="width;100px">


	
	<h2>LOGIN</h2>
	<form class="form-inline">
		<input id="login-user" type="text" class="input-small" placeholder="username">
		<br>
		<br>
		<input id="login-pass" type="password" class="input-small" placeholder="password">
		<br>
		<br>
		<button id="login-submit" type="button" class="btn">Sign In</button>
		</form>

	<br>
	
	<h2>REGISTER</h2>
	<form class="form-inline">
		<input id="reg-user" type="text" class="input-small" placeholder="username">
		<br>
		<br>
		<input id="reg-pass" type="password" class="input-small" placeholder="password">
		<br>
		<br>
		<input id="reg-submit" type="password" class="input-small" placeholder="confirm password">
		<br>
		<br>
		<button type="button" class="btn">Sign Up</button>
		</form>

</div>
</template>
