<template name="loginpage">

<!-- Login Forms -->
<div align="center" style="width;100px">
	
	<h2>{{string "headings.login"}}</h2>
	<form class="form-inline">
    <div class="control-group">
      <div class="controls">
        <input id="login-user" type="text" class="input-medium" placeholder={{string "labels.username"}}>
		  </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input id="login-pass" type="password" class="input-medium" placeholder={{string "labels.password"}}>
		  </div>
		</div>
    <div class="control-group">
      <div class="controls">
        <button id="login-submit" type="button" class="btn">{{string "buttons.login"}}</button>
        <a href="#panel-help" role="button" class="btn" data-toggle="modal">{{string "buttons.help"}}</a>
      </div>
    </div>
	</form>

	<br>
	
	<h2>{{string "headings.register"}}</h2>
	<form class="form-inline">
    <div class="control-group">
      <div class="controls">
        <input id="reg-user" type="text" class="input-medium" placeholder={{string "labels.username"}}>
		  </div>
		</div>
    <div class="control-group">
      <div class="controls">
        <input id="reg-email" type="text" class="input-medium" placeholder={{string "labels.email"}}>
		  </div>
		</div>
    <div class="control-group">
      <div class="controls">
        <input id="reg-pass" type="password" class="input-medium" placeholder={{string "labels.password"}}>
		  </div>
		</div>
    <div class="control-group">
      <div class="controls">
        <input id="reg-confirm" type="password" class="input-medium" placeholder={{string "labels.confirm"}}>
		  </div>
		</div>
    <div class="control-group">
      <div class="controls">
        <button id="reg-submit" type="button" class="btn">{{string "buttons.register"}}</button>
		  </div>
		</div>
	</form>

</div>

<!-- Help! Pop-up -->
<div id="panel-help" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="panel-help-title" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="panel-help-title">{{string "headings.help-login"}}</h3>
	</div>
	<div class="modal-body">
		<p>{{{string "labels.help-login"}}}</p>
		<input id="help-forgot-email" type="text" class="input-small" placeholder={{string "labels.username"}}>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">{{string "buttons.help-close"}}</button>
		<button id="login-forgot" class="btn btn-primary">{{string "buttons.send-me"}}</button>
	</div>
</div>

</template>
