<head>
  <title>Media Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{> navigation}}
  {{> error}}
  {{> content}}
</body>
<template name="navigation">
  <ul class="nav nav-tabs">
    <li id="tab-home" class="active">
      <a href="#tab1" data-toggle="tab">{{string "buttons.home"}}</a>
    </li>
    <li id="tab-video"><a href="#tab2" data-toggle="tab">{{string "buttons.video"}}</a></li>
    <li id="tab-audio"><a href="#tab3" data-toggle="tab">{{string "buttons.audio"}}</a></li>
    <li id="tab-picture"><a href="#tab4" data-toggle="tab">{{string "buttons.picture"}}</a><li>
    <li id="tab-login"><a class="btn-primary" href="#tab5" data-toggle="tab">{{string "buttons.login"}}</a></li>
    <li id="tab-logout"><a class="btn-primary" href="#tab1" data-toggle="tab">{{string "buttons.logout"}}</a></li>
    <li id="tab-editProfile"><a href="#tab6" data-toggle="tab">Edit Profile</a><li>
  </ul>
</template>
<template name="content">
  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
      {{> homepage}}
    </div>

    <div class="tab-pane" id="tab2">
     {{> videopage}}
    </div>

    <div class="tab-pane" id="tab3">
      {{> audiopage}}
    </div>

    <div class="tab-pane" id="tab4">
			{{> picturepage}}
    </div>

    <div class="tab-pane" id="tab5">
      {{> loginpage}}
    </div>

    <div class="tab-pane" id="tab6">
      {{> profile-page}}
    </div>

  </div>
</template>
