<head>
  <title>Media Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Home</a>
    </li>
    <li><a href="#tab2" data-toggle="tab">Video</a></li>
    <li><a href="#tab3" data-toggle="tab">Audio</a></li>
    <li><a href="#tab4" data-toggle="tab">Pictures</a><li>
  </ul>
  
  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
      <div id="title" class="hero-unit">
       <h1 class="center">Media Site</h1>
      </div>
      {{> home-page}}
    </div>

    <div class="tab-pane" id="tab2">
     <div id="title" class="hero-unit">
       <h1 class="center">Video</h1>
     </div>
     {{> video-page}}
    </div>

    <div class="tab-pane" id="tab3">
      <div id="title" class="hero-unit">
       <h1 class="center">Audio</h1>
      </div>
      {{> audio-page}}
    </div>

    <div class="tab-pane" id="tab4">
      <div id="title" class="hero-unit">
       <h1 class="center">Pictures</h1>
      </div>
      {{> picture-page}}
    </div>

  </div>

  <div id="player-container" class="span0">
    <div id="player"></div>
  </div>

  <div id="list-container" class="span10">
    {{> datagrid}}
  </div>

  </div>

  </div>
</body>
