<head>
  <title>Media Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Home</a>
    </li>
    <li><a href="#tab2" data-toggle="tab">Video</a></li>
    <li><a href="#tab3" data-toggle="tab">Audio</a></li>
    <li><a href="#tab4" data-toggle="tab">Picture</a><li>
    <li><a class="btn btn-primary" href="#tab5" data-toggle="tab">Login</a></li>
  </ul>
  
  <div class="tab-content">

    <div class="tab-pane active" id="tab1">
      {{> home-page}}
    </div>

    <div class="tab-pane" id="tab2">
     {{> video-page}}
    </div>

    <div class="tab-pane" id="tab3">
      {{> audio-page}}
    </div>

    <div class="tab-pane" id="tab4">
		{{> picture-page}}
    </div>

    <div class="tab-pane" id="tab5">
      {{> login-page}}
    </div>

  </div>

  </div>

  </div>
</body>
