<template name="profile">

<!-- Profile -->
<div align="center" style="width;100px">
	
	<h2>Profile</h2>
	<form class="form-inline">
		<br>
		Name: <input id="profile-username" type="text" class="input-small" placeholder={{string "labels.username"}}>
		<br>
		<br>
		Password: <input id="profile-password" type="password" class="input-small" placeholder={{string "labels.password"}}>
		<br>
		<br>
		New Password: <input id="profile-newpassword" type="password" class="input-small">
		<br>
		<br>
		Confirm Password: <input id="profile-confirmpass" type="password" class="input-small">
		<br>
		<br>
		Email address: <input id="profile-email" type="text" class="input-small" placeholder={{string "labels.email"}}>
		<br>
		<br>
		<button id="profile-save" type="button" class="btn">Save Changes</button>
		<button id="profile-cancel" type="button" class="btn">Cancel</button>
	</form>

	<br>

</div>
</template>
