<template name="profilepage">

<!-- Profile -->
<div align="center" style="width;100px">
	
	<h2>Profile</h2>
	<form class="form-inline">
		<br>
		Username: <input id="profile-username" type="text" class="input-small" placeholder={{string "labels.username"}}>
		<br>
		<br>
		Password: <input id="profile-password" type="password" class="input-small" placeholder={{string "labels.password"}}>
		<br>
		<br>
		New Password: <input id="profile-newpassword" type="password" class="input-small" placeholder={{string "labels.password"}}>
		<br>
		<br>
		Confirm Password: <input id="profile-confirmpass" type="password" class="input-small">
		<br>
		<br>
		Email address: <input id="profile-email" type="text" class="input-small" placeholder={{string "labels.password"}}>
		<br>
		<br>
		<button id="saveChanges" type="button" class="btn">Save Changes</button>
		<button id="cancel" type="button" class="btn">Cancel</button>
	</form>

	<br>

</div>
</template>
