<template name="videopage">
  <!-- TEMPORARY NOTICE - REMOVE FROM DEMO -->
  <!-- <div class="alert fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Head's up!</h4>
    <p>There's a bug with videos currently.<br />Loading very large files tends to crash the server, so if you're testing this on a live server, please only load small files for now.<br />Of course, this notice won't appear during the demo.</p>
  </div> -->
  <!-- TEMPORARY NOTICE - END -->
  <div class="hero-unit" id="player-content">
    <h1 class="center">{{string "headings.video"}}</h1>
  </div>
  <div>
    <h2 class="center">    
      <button class="btn btn-primary" id="transcode">Transcode All</button>
{{string "headings.video_sub"}}</h2>
    <div id="message"></div>
  </div>
  <div id='select-modal' class='video-modal center'>
    <div>
        <a href="#close" title="Close" class="videoClose">&times;</a>
        <video id="player-video" class="video-js" controls autoplay></video>
    </div>
  </div>
	<div>
		{{>buttonmenuvideo}}
	</div>
  {{> videogrid}}
</template>
