/* CSS declarations go here */

.center {
  text-align: center;
}

.left-btn {
  margin-left:8px;
  margin-bottom:8px;
}

.right-btn {
  float:right;
  margin-right:5px;
}

.alert-message {
  display:block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
